<body>
    <div class="container-fluid h-100 correct_background">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12">
                <h1 class="title_center">ผลรวมคะแนน</h1>
            </div>
            <div class="col-12">
                <div class="content_center">
                    <h1 class="txt_summary">{{summary}}</h1>
                    <img class="img_center" src="assets/images/white_whales.png">
                </div>
            </div>
        </div>
    </div>

    <!-- button reload -->
    <img class="btn_reload" (click)="reloadQuestion()" src="assets/images/icons/reload.png">
    <!-- <img class="btn_reload" (click)="recordSummary()" src="assets/images/icons/reload.png"> -->
</body>