.correct_background {
    height: 100vh;
    background-size: 100% 100%;
    background-image: url('/assets/images/bg_summary.jpg');
}

.title_center {
    text-align: center;
    font-family: 'Mitr'!important;
    font-size: 45px;
}

.img_center {
    border: none;
    width: 100%;
    height: auto;
    margin-top: -20%;
}

.btn_reload {
    border: none;
    width: 80px;
    position: absolute;
    bottom: 0;
}

.txt_summary {
    position: absolute;
    bottom: 200px;
    left: 50%;
    font-size: 90px;
    font-family: 'Mitr'!important;
    color: cadetblue;
}