<body>
    <div class="container-fluid h-100 background">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12">
                <h1 class="title_center">Mariam Game</h1>
                <p class="text_center">
                    เรื่องราวของ มาเรียม💙<br> เจ้าหญิงน้อยแห่งท้องทะเล (และวงการเกยตื้น)💙<br> #kamijn #pkamijn💙 #มาเรียม #ลิบง💙
                </p>
                <button class="btn_play" [routerLink]="['/mariamgame']">เล่นเกม</button>
            </div>
            <div class="col-12">
                <img class="img_center" src="assets/images/whales.png">
            </div>
        </div>
    </div>
</body>


<!-- <body>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card class="example-header-image"></div>
        </mat-card-header>
        <div style="text-align:center">
            <h1>
                <a style="font-size:large;"> TEST MARIAM</a>
            </h1><br>
        </div>
        <img mat-card-image src="https://pbs.twimg.com/media/D9_eFKXUYAMn6LZ.jpg" alt="Photo of a Shiba Inu">

        <mat-card-content class="example-card">
            <p>
                เรื่องราวของ มาเรียม💙<br> เจ้าหญิงน้อยแห่งท้องทะเล (และวงการเกยตื้น)💙<br> #kamijn #pkamijn💙 #มาเรียม #ลิบง💙
            </p>
        </mat-card-content>

        <mat-card-actions class="example-card1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-button [routerLink]="['/mariamgame']">START</button>
        </mat-card-actions>
    </mat-card>
</body> -->